
#u4042-4,#u2267-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4023-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4020-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3985-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3991-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3994-6
{
	font-family: open-sans-n3, sans-serif;
}

#u4039-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5967-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5970-6
{
	font-family: open-sans-n3, sans-serif;
}

#u5973-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5976-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4048-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3217-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3222-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3218-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3219-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3220-6
{
	font-family: open-sans-n3, sans-serif;
}

#u5892-14,#u4051-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3221-6
{
	font-family: open-sans-n3, sans-serif;
}

#u6116-6,#u3325-6
{
	font-family: open-sans-n3, sans-serif;
}

#u6113-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3326-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3327-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3328-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3330-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3332-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3329-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3331-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3333-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3334-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3335-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3336-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3337-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3338-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3339-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3351-13,#u3412-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3414-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3410-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3413-6
{
	font-family: open-sans-n3, sans-serif;
}

#u6165-4,#u6122-4,#u3409-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3411-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3418-4,#u3627-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3626-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3622-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3623-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3624-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3625-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3736-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3736,#u3739-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3737-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3737,#u3738-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3740-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3740,#u3740-3,#u3741-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3741,#u3741-3,#u5898-6
{
	font-family: open-sans-n3, sans-serif;
}

#u5898,#u5898-3,#u5895-6
{
	font-family: open-sans-n3, sans-serif;
}

#u5895,#u5895-3,#u3745-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3745,#u3745-3,#u5904-6
{
	font-family: open-sans-n3, sans-serif;
}

#u5904,#u5904-3,#u5907-6
{
	font-family: open-sans-n3, sans-serif;
}

#u5907,#u5907-3,#u3742-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3742,#u5901-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5901,#u3743-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3743,#u3744-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3744,#u4045,#u4045-3,#u5481-4,#u6168-4,#u6171-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5482-4,#u5483-4,#u5431-4,#u5432-4,#u5433-4,#u5443-16,#u5813-4,#u4017-6
{
	font-family: open-sans-n3, sans-serif;
}

#u6107-6
{
	font-family: open-sans-n3, sans-serif;
}

#u5611-6,#u6084-6
{
	font-family: open-sans-n3, sans-serif;
}

#u6110-6
{
	font-family: open-sans-n3, sans-serif;
}

#u5708-4,#u5703-4,#u5705-4,#u5716-4,#u5704-6,#u6119-4,#u5706-4,#u6195-4,#u6192-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6198-6,#u6184-4
{
	font-family: open-sans-n3, sans-serif;
}

