
#u4042-4,#u2267-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4023-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4020-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3985-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3991-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3994-6
{
	font-family: open-sans-n3, sans-serif;
}

#u4039-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5967-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5970-6
{
	font-family: open-sans-n3, sans-serif;
}

#u5973-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5976-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6422-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6550-6
{
	font-family: open-sans-n3, sans-serif;
}

#u4048-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3217-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3222-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3218-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3219-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3220-6
{
	font-family: open-sans-n3, sans-serif;
}

#u5892-14,#u4051-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3221-6
{
	font-family: open-sans-n3, sans-serif;
}

#u6116-6,#u3325-6
{
	font-family: open-sans-n3, sans-serif;
}

#u6113-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3326-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3327-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3328-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3330-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3332-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3329-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3331-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3333-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3334-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3335-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3336-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3337-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3338-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3339-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6487-4,#u3351-12,#u3412-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3410-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3413-6
{
	font-family: open-sans-n3, sans-serif;
}

#u6165-4,#u6122-4,#u3409-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3418-4,#u3627-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3626-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3622-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3623-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3624-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3625-6
{
	font-family: open-sans-n3, sans-serif;
}

#u6456-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3736-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3736,#u3739-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3737-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3737,#u3738-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3740-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3740,#u3740-3,#u3741-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3741,#u3741-3,#u5898-6
{
	font-family: open-sans-n3, sans-serif;
}

#u5898,#u5898-3,#u5895-6
{
	font-family: open-sans-n3, sans-serif;
}

#u5895,#u5895-3,#u3745-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3745,#u3745-3,#u5904-6
{
	font-family: open-sans-n3, sans-serif;
}

#u5904,#u5904-3,#u5907-6
{
	font-family: open-sans-n3, sans-serif;
}

#u5907,#u5907-3,#u3742-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3742,#u5901-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5901,#u3743-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3743,#u3743-3,#u3744-6
{
	font-family: open-sans-n3, sans-serif;
}

#u3744,#u3744-3,#u6505-6
{
	font-family: open-sans-n3, sans-serif;
}

#u6505,#u6505-3,#u6508-6
{
	font-family: open-sans-n3, sans-serif;
}

#u6508,#u6508-3,#u4045,#u4045-3,#u6349-6
{
	font-family: open-sans-n3, sans-serif;
}

#u5481-4,#u6168-4,#u6171-5
{
	font-family: open-sans-n3, sans-serif;
}

#u5482-4,#u5483-4,#u6496-6
{
	font-family: open-sans-n3, sans-serif;
}

#u6315-4,#u6472-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6312-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6306-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6309-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5432-4,#u5433-4,#u5443-16,#u6291-4,#u6282-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6282,#u6285-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6285,#u5813-4,#u6294-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6294,#u6297-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6297,#u4017-6
{
	font-family: open-sans-n3, sans-serif;
}

#u6107-6
{
	font-family: open-sans-n3, sans-serif;
}

#u5611-6,#u6084-6
{
	font-family: open-sans-n3, sans-serif;
}

#u6110-6
{
	font-family: open-sans-n3, sans-serif;
}

#u6321-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6324-6
{
	font-family: open-sans-n3, sans-serif;
}

#u6330-6
{
	font-family: open-sans-n3, sans-serif;
}

#u6336-6
{
	font-family: open-sans-n3, sans-serif;
}

#u5716-4,#u6119-4,#u6475-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6318-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6195-4,#u6192-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5708-4,#u5703-4,#u6333-4,#u5705-4,#u5704-6,#u5706-4,#u6490-4,#u6493-4,#u6198-6,#u6425-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6428-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6431-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6434-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6449-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6437-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6440-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6443-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6446-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6580-6,#u6556-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6562-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6565-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6568-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6574-6,#u6553-4
{
	font-family: open-sans-n3, sans-serif;
}

#u6585-20,#u6588,#u6588-4,#u6184-4
{
	font-family: open-sans-n3, sans-serif;
}

