#u3271-4
{
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
}

#u3275,#u3299,#u3329,#u3335,#u3311,#u3281,#u3317,#u3305,#u3287,#u3292
{
	background-color: transparent;
	position: relative;
}

#u3265
{
	border-style: none;
	border-color: transparent;
	background-color: #B6B6B6;
	position: relative;
}

#u2289-6
{
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: fixed;
}

