#u2633,#u764
{
	background-color: #DEDEDE;
}

#u994
{
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.3);
	color: #F7931E;
	font-size: 14px;
	line-height: 17px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	-pie-background: rgba(255,255,255,0.3);
}

#u4042-4
{
	background-color: transparent;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u2267-4
{
	background-color: transparent;
	color: #484848;
	text-align: right;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u2267-2
{
	padding-right: 10px;
}

#u667,#u682,#u5927,#u696,#u724,#u754,#u703,#u717
{
	background-color: transparent;
}


