body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

a {
  text-decoration: underline;
}

.shortcutsheader {
  width: 9.6%;
  float: left;
  text-align: center;
}

.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.html-embed {
  overflow: auto;
  height: 110px;
  min-height: 90px;
  padding-top: 10px;
  padding-bottom: 0px;
  font-family: OpensansPVJ, sans-serif;
  font-weight: 700;
  text-align: center;
}

.release {
  margin-right: 10px;
  font-family: OpensansPVJ, sans-serif;
  text-align: right;
}

.container {
  background-color: rgba(0, 0, 0, .13);
}

.tabs-menu {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tab-link {
  display: inline-block;
  width: 9%;
  background-color: transparent;
}

.tab-link.blue1 {
  background-color: #09f;
}

.tab-link.blue1.w--current {
  background-color: transparent;
}

.tab-link.blue2 {
  background-color: #007aff;
}

.tab-link.blue2.w--current {
  background-color: transparent;
}

.tab-link.green1 {
  background-color: #08be42;
}

.tab-link.green1.w--current {
  background-color: transparent;
}

.tab-link.grey1 {
  background-color: #4b4b4b;
}

.tab-link.grey1.w--current {
  background-color: transparent;
}

.tab-link.yellow1 {
  width: 9%;
  background-color: #ffad00;
}

.tab-link.yellow1.w--current {
  background-color: transparent;
}

.tab-link.brown {
  background-color: #9a7b4f;
}

.tab-link.brown.w--current {
  background-color: transparent;
}

.tab-link.violett1 {
  background-color: #792661;
}

.tab-link.violett1.w--current {
  background-color: transparent;
}

.tab-link.violett2 {
  background-color: #7000ff;
}

.tab-link.violett2.w--current {
  background-color: transparent;
}

.tab-link.violett3 {
  background-color: #b800ff;
}

.tab-link.violett3.w--current {
  background-color: transparent;
}

.tab-link.red2 {
  background-color: #c22828;
}

.tab-link.red2.w--current {
  background-color: transparent;
}

.tab-link.red1 {
  background-color: red;
}

.tab-link.red1.w--current {
  background-color: transparent;
}

.image_register {
  display: inline-block;
  min-width: 100%;
}

.yellow_pane {
  background-color: #ffad00;
}

.blue1_pane {
  background-color: #09f;
}

.buttonblue {
  display: inline-block;
  min-width: 80%;
  margin: 5px;
  border-style: none;
  border-color: #000;
  background-color: #425f94;
  box-shadow: 0 0 4px 0 #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.buttonblue:hover {
  background-color: #4b4b4b;
}

.buttonblue:active {
  background-color: #000;
}

.buttonblue.w--current {
  display: inline-block;
  font-family: OpensansPVJ, sans-serif;
}

.buttonblue.action {
  display: inline-block;
  font-family: OpensansPVJ, sans-serif;
}

.buttonblue.action.w--current {
  display: inline-block;
}

.column {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.regular-text {
  padding-top: 10px;
  padding-left: 10px;
  font-family: OpensansPVJ, sans-serif;
  color: #fff;
}

.body {
  font-family: OpensansPVJ, sans-serif;
  font-size: 14px;
}

.footer {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: OpensansPVJ, sans-serif;
  text-align: center;
}

.button_orange {
  display: inline-block;
  min-width: 80%;
  margin: 5px;
  border-style: none;
  background-color: #f60;
  box-shadow: 0 0 2px 0 #fff;
  font-family: OpensansPVJ, sans-serif;
  font-size: 16px;
}

.button_orange:hover {
  background-color: #4b4b4b;
}

.button_orange:active {
  background-color: #000;
}

.button_orange.action {
  font-family: OpensansPVJ, sans-serif;
}

.blue2_pane {
  background-color: #1975fb;
}

.buttomredstop {
  margin: 5px;
  background-color: red;
  box-shadow: 0 0 2px 0 #000;
}

.buttomredstop:hover {
  background-color: #4b4b4b;
}

.buttomredstop:active {
  background-color: #000;
}

.buttomredstop.action {
  font-family: OpensansPVJ, sans-serif;
}

.heading {
  margin-top: 5px;
  margin-left: 5px;
  font-family: OpensansBoldPVJ, sans-serif;
  color: #4b4b4b;
  font-size: 18px;
  font-weight: 700;
}

.green_pane {
  background-color: #08be75;
}

.buttongreen {
  min-width: 80%;
  margin: 5px;
  border-style: none;
  border-color: #000;
  background-color: #068f42;
  box-shadow: 0 0 4px 0 #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.buttongreen:hover {
  background-color: #4b4b4b;
}

.buttongreen:active {
  background-color: #000;
}

.buttongreen.action {
  font-family: OpensansPVJ, sans-serif;
}

.grey_pane {
  background-color: #4b4b4b;
  text-align: left;
}

.heading_white {
  margin-top: 5px;
  margin-left: 10px;
  font-family: OpensansBoldPVJ, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.buttongray {
  min-width: 80%;
  margin: 5px;
  border-style: none;
  border-color: #000;
  background-color: #31373d;
  box-shadow: 0 0 4px 0 #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.buttongray:hover {
  background-color: #4b4b4b;
}

.buttongray:active {
  background-color: #000;
}

.buttongray.w--current {
  background-color: #414141;
}

.buttongray.action {
  font-family: OpensansPVJ, sans-serif;
  font-size: 16px;
}

.buttongray_small {
  margin: 5px;
  border-style: none;
  border-color: #000;
  background-color: #31373d;
  box-shadow: 0 0 4px 0 #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.buttongray_small:hover {
  background-color: #4b4b4b;
}

.buttongray_small:active {
  background-color: #000;
}

.buttongray_small.w--current {
  background-color: #414141;
}

.buttongray_small.action {
  font-family: OpensansPVJ, sans-serif;
}

.section {
  margin-top: 10px;
  font-family: OpensansPVJ, sans-serif;
}

.buttonbrown {
  min-width: 100%;
  margin: 5px;
  border-style: none;
  border-color: #000;
  background-color: #9a7b4f;
  box-shadow: 0 0 4px 0 #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}

.buttonbrown:hover {
  background-color: #4b4b4b;
}

.buttonbrown:active {
  background-color: #000;
}

.buttonbrown.w--current {
  background-color: #414141;
}

.buttonbrown.action {
  font-family: OpensansPVJ, sans-serif;
}

.regular-textcentered {
  padding-top: 10px;
  padding-left: 10px;
  font-family: OpensansPVJ, sans-serif;
  color: #fff;
  text-align: center;
}

.violett1_pane {
  background-color: #792661;
  text-align: left;
}

.violett2_pane {
  background-color: #6512b3;
  text-align: left;
}

.buttonviolett {
  display: inline-block;
  min-width: 80%;
  margin: 5px;
  border-style: none;
  border-color: #000;
  background-color: #c200ff;
  box-shadow: 0 0 4px 0 #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.buttonviolett:hover {
  background-color: #4b4b4b;
}

.buttonviolett:active {
  background-color: #000;
}

.buttonviolett.w--current {
  display: inline-block;
}

.buttonviolett.action {
  display: inline-block;
  font-family: OpensansPVJ, sans-serif;
}

.buttonviolett.action.w--current {
  display: inline-block;
}

.clockred {
  background-color: red;
}

.clockred.action {
  font-family: OpensansPVJ, sans-serif;
}

.clockgreen {
  background-color: #08be42;
}

.clockgreen.action {
  font-family: OpensansPVJ, sans-serif;
}

.clockorange {
  background-color: #ffad00;
}

.clockorange.action {
  font-family: OpensansPVJ, sans-serif;
}

.clockpink {
  background-color: #c200ff;
}

.clockpink.action {
  font-family: OpensansPVJ, sans-serif;
}

.violett3_pane {
  background-color: #b800ff;
  text-align: left;
}

.buttonviolett2 {
  display: inline-block;
  min-width: 80%;
  margin: 5px;
  border-style: none;
  border-color: #000;
  background-color: #792661;
  box-shadow: 0 0 4px 0 #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.buttonviolett2:hover {
  background-color: #4b4b4b;
}

.buttonviolett2:active {
  background-color: #000;
}

.buttonviolett2.w--current {
  display: inline-block;
}

.buttonviolett2.action {
  display: inline-block;
  font-family: OpensansPVJ, sans-serif;
}

.buttonviolett2.action.w--current {
  display: inline-block;
}

.red2_pane {
  background-color: #c22828;
  text-align: left;
}

.buttonred2 {
  display: inline-block;
  min-width: 80%;
  margin: 5px;
  border-style: none;
  border-color: #000;
  background-color: #ac0505;
  box-shadow: 0 0 4px 0 #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.buttonred2:hover {
  background-color: #4b4b4b;
}

.buttonred2:active {
  background-color: #000;
}

.buttonred2.w--current {
  display: inline-block;
}

.buttonred2.action {
  display: inline-block;
  font-family: OpensansPVJ, sans-serif;
}

.buttonred2.action.w--current {
  display: inline-block;
}

.red1_pane {
  background-color: red;
  text-align: left;
}

.link {
  font-family: OpensansPVJ, sans-serif;
}

.bold-text {
  font-family: OpensansPVJ, sans-serif;
}

.row {
  font-family: OpensansPVJ, sans-serif;
}

@media (max-width: 991px) {
  .tab-link {
    padding-right: 2px;
    padding-left: 2px;
  }
  .image_register {
    display: block;
    min-width: 21px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: none;
  }
}

@media (max-width: 767px) {
  .html-embed {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 479px) {
  .tab-link {
    display: inline-block;
  }
  .tabs-content {
    display: inline-block;
  }
}

@font-face {
  font-family: 'OpensansPVJ';
  src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpensansBoldPVJ';
  src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}